/* Base Styles */
body {
    font-family: Arial, sans-serif;
    font-size:14px;
}

/* Header Styles */
header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
}

/* Section Styles */
section {
    margin: 20px;
}

/* Footer Styles */
footer {
    background-color: #333333;
    padding: 10px;
    text-align: center;
}

/* Element selector */
h2 {
    color: black;
}

/* Class selector */
.highlight {
    background-color: orange;
    color: white;
    padding: 4px;
}

/* ID selector */
#header {
    border-bottom: 2px solid orange;
}

/* Attribute selector */
a[href^="mailto:"] {
    color: orange;
}

/* Pseudo-class selector */
a:hover {
    color: white;
}

/* Pseudo-element selector */
p::first-line {
    font-weight: bold;
}

/* Combinator selector */
header + main {
    border-top: 1px solid gray;
}

/* External styles */
h1 {
    color: green !important; /* Overridden by inline styles */
}

/* Internal styles */
p {
    color: slategray;
}

/* External styles */
p {
    color: red; /* Overridden by internal styles */
}

#header h1 {
    color: orange !important; /* Overridden by !important */
}
